.card-banner img{
    max-width: 870px;
    height: auto;
}
.card-banner{
    display: flex;
    display: -webkit-box;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    height: auto;
}
.card-banner-area{
    display: flex;
    height: auto;
    padding: 0 40px;
    margin: 60px 0 0 30px;
}
.card--desc > h3,
.card--desc > p{
    margin: 10px 0 20px 0;
}
.card--desc > h3{
    font-size: 25px;
}