.Content--banner{
    text-align: center;
    width: 100%;
}
.content-area{
    width: 1905px;
    height: 697.5px;
}
.card-area{
    display: flex;
    margin: auto ;
}
.card{
    margin: auto;
    margin-top: 5%;
}
.card img{
    max-width: 575px;
    width: 100%;
    height: auto;
}
.card--desc{
    margin: 1%;
}
.card--desc h3{
    margin-top: 2%;
}
.card--desc p{
    margin-top: 2%;
    font-size: 14px;
}
.card--desc button{
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}