.callback--area img{
    width: 110%;
    text-align: center;
    height: auto;
    display: block;
    position: absolute;
    cursor: normal;
  }
  .call--desc{
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  
  .cadastro--area{
    top: 100px;
    display: block;
    position: relative;
    text-align: center;
  }
  .call--desc > p,h1{
    color: #fff;
    margin: 10px 0;
  }
  .call--desc > h1{
    font-size: 40px;
  }
  .cadastro--area input{
    padding: 13px;
    margin: 0 10px 0 0 ;
    width: 500px;
    background: rgba(255, 255, 255, 0.555);
    outline: none;
    border: none;
  }
  .cadastro--area input::placeholder{
    color: rgba(0, 0, 0, 0.582);
  }
  .cadastro--area > button{
    margin-top: 100px;
    padding: 13px;
    background: transparent;
    border: #fff solid 1px;
    color: #fff;
    cursor: pointer;
  }
  .cadastro--area > button:hover{
    background-color: #fff;
    color: #000;
  }