.infoad--area{
    background-color: black;
    width: 100%;
    height: auto;
    margin-top: 13%;
    padding: 5%;
    padding-bottom: 3%;
    color: #fff;
    align-items: center;
}
.local{
    margin-bottom: 50px;
    display: block;
    margin-left: 10%;
}
.local p{
    margin-bottom: 10px;
}
.local input{
    background: transparent;
    outline: none;
    padding: 10px;
    width: 320px;
    color: rgb(182, 178, 178);
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.705);
    position: absolute;
}
.local > button{
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    line-height: 55px;
    font-size: 16px;
    margin-left: 19%;
    color: #fff;
}
.sociais{
    margin-left: 10%;
}

.sociais > i{
    color: #fff;
}
.sociais ul{
    display: flex;
    list-style: none;
    margin: 10px;
}
.sociais li{
    margin: 10px;
    font-size: 25px;
}
.sociais li:hover{
    color: rgba(92, 89, 89, 0.979);
    cursor: pointer;
}
.atendimento{
    margin-top: -12.4%;
    margin-left: 40%;
    align-items: center;
    width: 300px;
}

.atendimento ul{
    margin-top: 15px;
    list-style: none;
}
.atendimento li{
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 140px;
}
.atendimento li:hover{
    color: rgba(92, 89, 89, 0.979);
}
.Boardriders{
    margin-top: -13.80%;
    align-items: center;
    margin-left: 65%;
    cursor: pointer;
}
.Boardriders li:hover{
    color: rgba(92, 89, 89, 0.979);
}
.Boardriders ul{
    list-style: none;
    margin-top: 15px;
}
.Boardriders li{
    font-size: 14px;
    margin-top: 5px;
}
.linguagem-logo{
    color: #fff;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    border-top:  1px solid rgb(46, 45, 45);
    padding-top: 30px;
}
.linguagem-logo > p{
    margin-left: 10px;
}

.linguagem-logo > img{
    width: 30px;
    margin-left: 35%;
}
.img-logo2:hover{
    background: rgba(92, 89, 89, 0.979);
}




  