.info--area{
  margin-top: 60px;
  display: block;
  height: auto;
}
.info--text{
    margin-top: 30px;
    font-size: 13px;
    text-align: justify;
    width: 1845px;
    height:auto;
    display: block;
}

.info--text h4{
    font-weight: 700;
    padding: 12px 0;
}

.info--text button{
  font-size: 16px;
  border-radius: 100%;
  width: 20px;
  background-color: transparent;
  height: auto;
  text-align: center;
  margin: 20px 917.5px 0;
  align-items: center;
  cursor: pointer;
}


.callback--area img{
  width: 100%;
  text-align: center;
  height: auto;
  display: block;
  position: absolute;
}
.call--desc{
  position: relative; 
  text-align: center;
  margin-top: 20px;
}

.cadastro--area{
  top: 100px;
  display: block;
  position: relative;
  text-align: center;
}
.call--desc > p,h1{
  color: #fff;
  margin: 10px 0;
}
.call--desc > h1{
  font-size: 40px;
}
.cadastro--area input{
  padding: 13px;
  margin: 0 10px 0 0 ;
  width: 500px;
  background: rgba(255, 255, 255, 0.555);
  outline: none;
  border: none;
}
.cadastro--area input::placeholder{
  color: rgba(0, 0, 0, 0.582);
}
.cadastro--area > button{
  margin-top: 100px;
  padding: 13px;
  background: transparent;
  border: #fff solid 1px;
  color: #fff;
}
.local{
  background-color: black;
  width: 100%;
  margin-top: 100px;
}
