*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel{
    text-align: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top: 1%;
    width: 100%;
    object-fit: cover;
    border: solid 1px black;
}
.carousel--item{
    margin-top: 1%;
}
 
.carousel button{
    border: none;
    background: transparent;
    cursor: pointer;
    margin: auto;
    font-size: 35px;
    margin: auto;
    margin-top: -1.5%;
}
.left{
    float: left;
    padding-left: 20%;
}
.right{
    float: right;
    padding-right: 20%;
}




